
target/

*.log

.idea/

dbt_modules
/dbt_packages/dbt_utils/.circleci/config.yml
/dbt_packages/dbt_utils/.github/ISSUE_TEMPLATE/bug_report.md
/dbt_packages/dbt_utils/.github/ISSUE_TEMPLATE/dbt_minor_release.md
/dbt_packages/dbt_utils/.github/ISSUE_TEMPLATE/feature_request.md
/dbt_packages/dbt_utils/.github/ISSUE_TEMPLATE/utils_minor_release.md
/dbt_packages/dbt_utils/.github/CODEOWNERS
/dbt_packages/dbt_utils/.github/pull_request_template.md
/dbt_packages/dbt_utils/etc/dbt-logo.png
/dbt_packages/dbt_utils/integration_tests/.env/bigquery.env
/dbt_packages/dbt_utils/integration_tests/.env/postgres.env
/dbt_packages/dbt_utils/integration_tests/.env/redshift.env
/dbt_packages/dbt_utils/integration_tests/.env/snowflake.env
/dbt_packages/dbt_utils/integration_tests/ci/sample.profiles.yml
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_concat.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_date_trunc.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_dateadd.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_datediff.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_hash.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_last_day.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_length.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_position.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_replace.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_right.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_safe_cast.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_split_part.csv
/dbt_packages/dbt_utils/integration_tests/data/cross_db/data_width_bucket.csv
/dbt_packages/dbt_utils/integration_tests/data/datetime/data_date_spine.csv
/dbt_packages/dbt_utils/integration_tests/data/etc/data_people.csv
/dbt_packages/dbt_utils/integration_tests/data/materializations/data_insert_by_period.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_at_least_one.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_equal_rowcount.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_expression_is_true.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_mutually_exclusive_ranges_no_gaps.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_mutually_exclusive_ranges_with_gaps.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_not_constant.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_not_null_where.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_relationships_where_table_1.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_relationships_where_table_2.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_test_unique_where.csv
/dbt_packages/dbt_utils/integration_tests/data/schema_tests/data_unique_combination_of_columns.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_events_20180101.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_events_20180102.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_events_20180103.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_generate_series.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_get_column_values.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_get_query_results_as_dict.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_nullcheck_table.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_pivot.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_pivot_expected.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_safe_add.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_star.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_star_expected.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_surrogate_key.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_union_events_expected.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_union_expected.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_union_table_1.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_union_table_2.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_unpivot.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_unpivot_expected.csv
/dbt_packages/dbt_utils/integration_tests/data/sql/data_unpivot_original_api_expected.csv
/dbt_packages/dbt_utils/integration_tests/data/web/data_url_host.csv
/dbt_packages/dbt_utils/integration_tests/data/web/data_url_path.csv
/dbt_packages/dbt_utils/integration_tests/data/web/data_urls.csv
/dbt_packages/dbt_utils/integration_tests/data/.gitkeep
/dbt_packages/dbt_utils/integration_tests/macros/.gitkeep
/dbt_packages/dbt_utils/integration_tests/macros/limit_zero.sql
/dbt_packages/dbt_utils/integration_tests/macros/tests.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/schema.yml
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_concat.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_current_timestamp.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_current_timestamp_in_utc.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_date_trunc.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_dateadd.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_datediff.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_hash.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_last_day.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_length.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_position.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_replace.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_right.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_safe_cast.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_split_part.sql
/dbt_packages/dbt_utils/integration_tests/models/cross_db_utils/test_width_bucket.sql
/dbt_packages/dbt_utils/integration_tests/models/datetime/schema.yml
/dbt_packages/dbt_utils/integration_tests/models/datetime/test_date_spine.sql
/dbt_packages/dbt_utils/integration_tests/models/materializations/expected_insert_by_period.sql
/dbt_packages/dbt_utils/integration_tests/models/materializations/schema.yml
/dbt_packages/dbt_utils/integration_tests/models/materializations/test_insert_by_period.sql
/dbt_packages/dbt_utils/integration_tests/models/schema_tests/schema.yml
/dbt_packages/dbt_utils/integration_tests/models/schema_tests/test_equal_column_subset.sql
/dbt_packages/dbt_utils/integration_tests/models/schema_tests/test_equal_rowcount.sql
/dbt_packages/dbt_utils/integration_tests/models/schema_tests/test_recency.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/schema.yml
/dbt_packages/dbt_utils/integration_tests/models/sql/test_generate_series.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_get_column_values.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_get_relations_by_pattern.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_get_relations_by_prefix_and_union.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_groupby.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_nullcheck_table.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_pivot.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_safe_add.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_star.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_surrogate_key.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_union.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_union_base.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_unpivot.sql
/dbt_packages/dbt_utils/integration_tests/models/sql/test_unpivot_original_api.sql
/dbt_packages/dbt_utils/integration_tests/models/web/schema.yml
/dbt_packages/dbt_utils/integration_tests/models/web/test_url_host.sql
/dbt_packages/dbt_utils/integration_tests/models/web/test_url_path.sql
/dbt_packages/dbt_utils/integration_tests/models/web/test_urls.sql
/dbt_packages/dbt_utils/integration_tests/tests/logger/assert_pretty_output_msg_is_string.sql
/dbt_packages/dbt_utils/integration_tests/tests/logger/assert_pretty_time_is_string.sql
/dbt_packages/dbt_utils/integration_tests/tests/assert_get_query_results_as_dict_objects_equal.sql
/dbt_packages/dbt_utils/integration_tests/.gitignore
/dbt_packages/dbt_utils/integration_tests/dbt_project.yml
/dbt_packages/dbt_utils/integration_tests/Makefile
/dbt_packages/dbt_utils/integration_tests/packages.yml
/dbt_packages/dbt_utils/integration_tests/README.md
/dbt_packages/dbt_utils/macros/cross_db_utils/_get_utils_namespaces.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/_is_ephemeral.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/_is_relation.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/concat.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/current_timestamp.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/datatypes.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/date_trunc.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/dateadd.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/datediff.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/except.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/hash.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/identifier.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/intersect.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/last_day.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/length.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/literal.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/position.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/replace.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/right.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/safe_cast.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/split_part.sql
/dbt_packages/dbt_utils/macros/cross_db_utils/width_bucket.sql
/dbt_packages/dbt_utils/macros/datetime/date_spine.sql
/dbt_packages/dbt_utils/macros/geo/haversine_distance.sql
/dbt_packages/dbt_utils/macros/logger/log_info.sql
/dbt_packages/dbt_utils/macros/logger/pretty_log_format.sql
/dbt_packages/dbt_utils/macros/logger/pretty_time.sql
/dbt_packages/dbt_utils/macros/materializations/insert_by_period_materialization.sql
/dbt_packages/dbt_utils/macros/schema_tests/at_least_one.sql
/dbt_packages/dbt_utils/macros/schema_tests/cardinality_equality.sql
/dbt_packages/dbt_utils/macros/schema_tests/equal_rowcount.sql
/dbt_packages/dbt_utils/macros/schema_tests/equality.sql
/dbt_packages/dbt_utils/macros/schema_tests/expression_is_true.sql
/dbt_packages/dbt_utils/macros/schema_tests/mutually_exclusive_ranges.sql
/dbt_packages/dbt_utils/macros/schema_tests/not_constant.sql
/dbt_packages/dbt_utils/macros/schema_tests/recency.sql
/dbt_packages/dbt_utils/macros/schema_tests/relationships_where.sql
/dbt_packages/dbt_utils/macros/schema_tests/test_not_null_where.sql
/dbt_packages/dbt_utils/macros/schema_tests/test_unique_where.sql
/dbt_packages/dbt_utils/macros/schema_tests/unique_combination_of_columns.sql
/dbt_packages/dbt_utils/macros/sql/generate_series.sql
/dbt_packages/dbt_utils/macros/sql/get_column_values.sql
/dbt_packages/dbt_utils/macros/sql/get_query_results_as_dict.sql
/dbt_packages/dbt_utils/macros/sql/get_relations_by_pattern.sql
/dbt_packages/dbt_utils/macros/sql/get_relations_by_prefix.sql
/dbt_packages/dbt_utils/macros/sql/get_tables_by_pattern_sql.sql
/dbt_packages/dbt_utils/macros/sql/get_tables_by_prefix_sql.sql
/dbt_packages/dbt_utils/macros/sql/groupby.sql
/dbt_packages/dbt_utils/macros/sql/nullcheck.sql
/dbt_packages/dbt_utils/macros/sql/nullcheck_table.sql
/dbt_packages/dbt_utils/macros/sql/pivot.sql
/dbt_packages/dbt_utils/macros/sql/safe_add.sql
/dbt_packages/dbt_utils/macros/sql/star.sql
/dbt_packages/dbt_utils/macros/sql/surrogate_key.sql
/dbt_packages/dbt_utils/macros/sql/union.sql
/dbt_packages/dbt_utils/macros/sql/unpivot.sql
/dbt_packages/dbt_utils/macros/web/get_url_host.sql
/dbt_packages/dbt_utils/macros/web/get_url_parameter.sql
/dbt_packages/dbt_utils/macros/web/get_url_path.sql
/dbt_packages/dbt_utils/.gitignore
/dbt_packages/dbt_utils/CHANGELOG.md
/dbt_packages/dbt_utils/dbt_project.yml
/dbt_packages/dbt_utils/docker-compose.yml
/dbt_packages/dbt_utils/LICENSE
/dbt_packages/dbt_utils/README.md
/dbt_packages/dbt_utils/RELEASE.md
/dbt_packages/dbt_utils/run_test.sh
